<% title("Change your password") %>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <p><%= f.label :password, "New password" %><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation, "Confirm new password" %><br />
  <%= f.password_field :password_confirmation %></p>

  <spam class="right"><%= render :partial => "/admin/shared/links" %></spam>

  <p class="left"><%= f.submit "Change my password", :class => "button signin" %></p>
<% end %>

